.cams {
  background: {
    color: $color-dark0;
  }

  &__Header {
    background: {
      color: $color-dark2;
    }
  }

  &__InfoLabel {
    color: $color-light3;
  }

  &__Cam {
    border-color: $color-light4;
  }

  &__Restriction {
    background-color: $theme-blue;
    color: $color-light0-soft;
    &--18plus {
      background-color: $theme-red;
    }
  }
}
