.emojiPredict {
  &__Container {
    background-color: $color-dark2;
    border-color: $color-light4;
  }

  &__Header {
    background-color: $color-dark4;
    border-color: $color-light4;
  }

  &__Option {
    &:hover,
    &--selected {
      background-color: $theme-blue;
    }
  }
}
