.layout--horizontal {
  .privateMessages {
    &__ListWrapper {
      width: 200px;
      border-left: 1px solid;
      border: {
        color: $color-dark2;
      };
    }
  }
}

.privateMessages {
  &__Empty {
    border: {
      color: $color-dark2;
    }

    background-color: $color-dark1;
  }

  &__ListWrapper {
    border: {
      color: $color-dark2;
    };
  }
}
