doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='JumpInChat is a free and simple way to create video chat rooms. No downloads and no registration required! Find a chat room or create your own and start chatting instantly!')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='robots', content='noindex,nofollow')
    title JumpInChat | Page not found
    link(rel='canonical', href='https://jumpin.chat/404')
    link(media='(min-width: 768px)', href='https://fonts.googleapis.com/css?family=Dosis:600,700|Roboto:300,400,400i,700', rel='stylesheet')
    link(integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', crossorigin='anonymous')
    link(rel='shortcut icon', href='/images/favicon.png', type='image/x-icon')
    link(href='/styles/site.css', rel='stylesheet')
  body
    header.header
      .wrapper
        h1.header__Title
          a(href='/') JumpInChat
        nav.header__Nav
          a.button.button--white-transparent.header__NavItem(href='/login') Log In
          a.button.button--black.header__NavItem(href='/register') Register
    .site-wrapper
      .error
        h1.error__Title 404
        p.error__Lead page could not be found, sorry
    footer.full-width.full-width--black.footer
      .wrapper.footer__Wrapper
        span.footer__Copyright
          | Copyright
          sup ©
            |  2017 JumpInChat
        .footer__Links
          a.footer__Link.footer__Link-social(href='https://twitter.com/jumpinchat', target='_blank', rel='noopener,noreferrer')
            i.fa.fa-twitter
        .footer__Links
          a.footer__Link(href='https://status.jumpin.chat', target='_blank', rel='nofollow,noreferrer') Status
          a.footer__Link(href='https://medium.com/@wildtangoweb/', target='_blank', rel='noreferrer') Blog
          a.footer__Link(href='/privacy', rel='noopener') Privacy
          a.footer__Link(href='/terms', rel='noopener') Terms and Conditions

